<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <clear />
    <add name="LocalJPaulik"
         providerName="Npgsql"
         connectionString="Host=localhost; Port=5432; Username='postgres'; Password=3530744182a; Database=TrafficReportDB" />

    <add name="RemoteDB"
         providerName="PostgreSQL"
         connectionString="Host=192.168.21.10; Port = 5432; Username='postgres'; Password=postgres; Database=trafficReport" />

  </connectionStrings>
</configuration>