map {
    height: 90%; 
}

causes{
    height: 10%;
    top:90%;
}

map, causes, direction, menu{
    position: absolute;
    margin: 0px;
    width: 100%;    
}

direction, menu{
    top: 0px;
    left: 30%;   
    width: 50%;
}

causes{
    background-color: lightcyan;
}

